#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.board {
  display: grid;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
}

.robot {
  display: flex;
  justify-content: center;
  align-items: center;
}
